.monoSpaceFonts {
  font-family: var(--mantine-font-family-monospace);
  font-size: 13px;
}

.monoSpaceFonts ul:first-of-type {
  [data-mantine-color-scheme='dark'] & {
    border-radius: var(--mantine-radius-md);
    background-color: #141516 !important;
  }
}
