.monoSpaceFonts {
  font-family: var(--mantine-font-family-monospace);
  font-size: 0.875rem;
}

.navLink {
  border-radius: var(--mantine-radius-md);
  [data-mantine-color-scheme='dark'] & {
    color: #c1c2c5;
  }
}

.navLink[data-active] {
  border-radius: var(--mantine-radius-md);
  [data-mantine-color-scheme='dark'] & {
    color: var(--mantine-color-white);
  }
}
