.jotai-devtools-Select-option{
    color: black;
    [data-mantine-color-scheme='dark'] & {
        color: #fff;
    }
}
.jotai-devtools-Input-input{
    color: black;
    [data-mantine-color-scheme='dark'] & {
        color: #fff;
    }
}