.RawValue[data-active='true'] {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #fff;
  }
}
.RawValue {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #c1c2c5;
  }
}
.TreeView[data-active='true'] {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #fff;
  }
}
.TreeView {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #c1c2c5;
  }
}
.valueText {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #fff;
  }
}
.RawValueText {
  color: black;
  [data-mantine-color-scheme='dark'] & {
    color: #fff;
  }
}